{
    "AddressLocationTypeID": "Residential",
    "CountryCode": "US",
    "FirstName": "",
    "LastName": "",
    "AttentionLine": "",
    "Company": "",
    "AddressOne": "",
    "AddressTwo": "",
    "City": "",
    "StateOrProvince": "",
    "PostalCode": "",
    "PhoneNumber": "",
    "EmailAddress": ""
  }